/* références : 
- pour l'animation du dropdown, l'exemple 7 de ce site :
https://alvarotrigo.com/blog/drop-down-menu-javascript/ */

/* - pour le ruban sur la dernière carte de la section Prices : */
/* https://stackoverflow.com/questions/30503866/right-corner-ribbon-on-a-div-css */

/* - pour la rotation du chevron dans la section 8 - FAQ */
/* https://codepen.io/rezk/pen/PegNRY */

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 8px;
    background: none;
}
html::-webkit-scrollbar-track {
    background: none;
}
html::-webkit-scrollbar-thumb {
    width: 15px;
    background-color: #73787e;
    border-radius: 10px;
    height: 100px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* section 1 - Hero */

.section-hero {
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/hero-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.divContrast {
    background: linear-gradient(135deg, rgb(85, 0, 255) 50%, rgb(128, 0, 255));
    opacity: 0.9;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    /* background-color: blue; */
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    /* position: relative; */
}

.navActive {
    background: linear-gradient(135deg, rgb(85, 0, 255) 50%, rgb(85, 0, 255));
    
}


.divCachéNav {
    height: 10%;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
    position: fixed;
    /* position: absolute; */
    transition: all ease-in-out 1s;
}


.hero-title {
    color: white;
    font-size: 40px;
    width: 40%;
    /* background-color: black; */
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.menu-nav {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.menu {
    display: flex;
    width: 75%;
    gap: 35px;
    /* background-color: red; */
    justify-content: center;
    /* font-size: 17px; */
    color: rgb(236, 227, 227);
    font-weight: bold;
}

.textGray {
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    color: #d7c3f8;
    font-size: 16px;
}

.textWhite {
    color: white;
    border-bottom: 3px solid white;
    width: 57px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.textGray::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    display: block;
    transition: width 0.3s;
}
  
.textGray:hover::after {
    width: 105%;
}
.textGray:hover {
    color: white;
}

.textLine {
    display: flex;
    flex-direction: column;
}

.started {
    width: 25%;
    /* background-color: orange; */
    /* font-size: 17px; */
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.textStarted {
    border: 2px solid rgb(220, 211, 211);
    border-radius: 5px;
    /* background-color: blue; */
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    transition: ease-in-out;
}

.borderWhite {
    border: 2px solid white;
}

.hero {
    height: 90%;
    margin-top: 110px;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}

.textHero {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.contentText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: blue; */
    width: 60%;
    height: 60%;
    gap: 30px;
    margin-left: 150px;
}

.textDigital {
    font-size: 50px;
    font-family: 'Archivo Black', sans-serif;
    color: white;
}

.started2 {
cursor: pointer;
}

.textStarted2 {
    font-size: 15px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
    color: white;
    width: 135px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 5px;
    transition: all ease-in-out 0.4s;
}

.transformStarted {
    color: rgb(128, 0, 255);
    background-color: white;
}

.divImgHero {
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgHero {
    width: 70%;
    height: 70%;
    background-image: url(../assets/img/hero-img.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: red; */
    margin-right: 120px;
    margin-top: 30px;
 
    animation-name: animate;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes animate {
    0% {
        transform: translateY(15px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(15px);
    }
}

.divDrop {
    /* display: flex; */
    background: none;
    position: relative;
}

.dropListe {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 205px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 35px;
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 0.35s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
}

.dropListe a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    /* display: none; */
}

.showDropListe {
    display: flex;
    opacity: 0;
    z-index: 10;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
      transform: translate3d(0, 30px, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @keyframes fadeInDown {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    to {
      transform: translate3d(0, 20px, 0);
      opacity: 0;
    }
  }

.fa-chevron-down {
    margin-left: 10px;
}



/* section2 - Read More */

.section-readMore {
    height: 900px;
    width: 100%;
    flex-direction: column;
    position: relative;
}

.Voluptatem {
    height: 75%;
    width: 100%;
    display: flex;
}

.sec2Voluptatem {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.volupContent {
    width: 90%;
    height: 70%;
    font-family: 'Poppins', sans-serif;
}

.aboutTitle {
    color: #2d4964;
    font-size: 33px;
    font-weight: 500;
    width: 90%;
}

.aboutPara {
    font-style: italic;
}

.checkContent {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.fa-check {
    font-size: 12px;
    color: #6150fa;
    /* text-align: center; */
}

.checkDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #6150fa;
}

.check3 {
    display: inline-block;
    margin-right: 5px;
    position: relative;
}

.symbole3 {
    position: absolute;
    top: 15%;
    left: 15%;
}

.contentCheck3Display {
    margin-top: 10px;
}

.readBtn {
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 3px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    width: 180px;
    height: 45px;
    background: linear-gradient(90deg, rgb(85, 0, 255) 50%, rgb(128, 0, 255));
}

.readLinear {
    background: linear-gradient(0deg, rgb(128, 0, 255) 50%, rgb(85, 0, 255))
}

.spanRead {
    position: absolute;
    top: 10px;
    left: 25px;
}


.sec2Img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.imgAbout {
    width: 95%;
    height: 70%;
    background: url(../assets/img/about.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.numbers {
    width: 100%;
    height: 25%;
    background-image: url(../assets/img/counts-bg.png);
    background-position: 50% 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.numbersDiv {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.theNumbers {
    font-size: 45px;
    font-weight: 500;
}

.textNumber {
    font-size: 14px;
    color: #dacefb;
}

.box-arrow {
    width: 50px;
    height: 50px;
    background-color: #5846f9;
    position: fixed;
    top: 665px;
    right: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
}

.transitionArrow {
    scroll-behavior: smooth;
    transition: all ease-in-out 1s;
}

.arrowSec2 {
    color: white;
    font-size: 18px;
    z-index: 999;
}

/* section 3 - Services */

.section-services {
    height: 1100px;
    width: 100%;
    background-color: #f9f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divTitleServices {
    width: 90%;
    height: 25%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.servTitle {
    color: #444444;
    font-size: 33px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    /* margin-top: 180px; */
    margin-bottom: 20px;
}

.ligneTitle {
    height: 5px;
    width: 50px;
    background-color: #6937e9;
}

.sec3Para {
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
    width: 90%;
}

.sec3Div2 {
    width: 100%;
    height: 75%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* margin-bottom: 100px; */
}

.servicesBoxes {
    /* height: 90%; */
    width: 90%;
    /* background-color: red;   */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.box {
    background-color: white;
    width: 444px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.textBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.titleBox {
    font-size: 23px;
    font-weight: 600;
    color: #2d4964;
    transition: all ease-in-out .2s;
}

.paraAlign {
    text-align: center;
    width: 90%;
    font-size: 14px;
    transition: all ease-in-out .2s;
}

.fa-guitar {
    font-size: 25px;
    color: #49affe;
    transition: all ease-in-out .2s;
}
.fa-gamepad {
    font-size: 25px;
    color: orange;
    transition: all ease-in-out .2s;
}
.fa-hourglass-half {
    font-size: 25px;
    color: #e90e6f;
    transition: all ease-in-out .2s;
}
.fa-chess {
    font-size: 25px;
    color: #ffc750;
    transition: all ease-in-out .2s;
}
.fa-torii-gate {
    font-size: 25px;
    color: #ff6032;
    transition: all ease-in-out .2s;
}
.fa-blender {
    font-size: 25px;
    color: #0edbce;
    transition: all ease-in-out .2s;
}
.iconWhite {
    color: white;
}

.colorBlue {
    background-color: #49affe;
}
.colorOrange {
    background-color: orange;
}
.colorPink {
    background-color: #e90e6f;
}
.colorYellow {
    background-color: #ffc750;
}
.colorOrangeRed {
    background-color: #ff6032;
}
.colorSkyBlue {
    background-color: #0edbce;
}


/* section 4 - Features */

.section-features {
    height: 1100px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.sec4Para {
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
    width: 90%;
}


.sec4Div2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70%;
    width: 100%;
}

.divSVG {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.sec4Liste {
    width: 50%;
    height: 100%;
}

.svg {
    width: 95%;
    height: 90%;
    background-image: url(../assets/img/features.svg);
    background-repeat: no-repeat;
    background-size: contain;

}

.divListe {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 90px;
    margin-left: 75px;
}

.divIcon {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 50px;
    height: 50px;
}

.titreListe {
    color: #444444;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.paraListe {
    color: #939393;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.fa-palette {
    font-size: 40px;
    color: #5846f9;
}
.fa-cube {
    font-size: 40px;
    color: #5846f9;
}
.fa-photo-film {
    font-size: 40px;
    color: #5846f9;
}
.fa-shield {
    font-size: 40px;
    color: #5846f9;
}

.marginShield {
    margin-left: 100px;
}


/* section 5 - Testimonials */

.section-testimonials {
    height: 800px;
    width: 100%;
    background-color: #f9f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divTitleTestimonials {
    width: 90%;
    height: 25%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.servTitle {
    color: #444444;
    font-size: 33px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    margin-bottom: 20px;
}

.ligneTitle {
    height: 5px;
    width: 50px;
    background-color: #6937e9;
}

.sec5Para {
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0px;
    width: 90%;
}

.sec5Div2 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 100%;
    gap: 20px;
}

.carousel {
    width: 3380px;
    height: 330px;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
    gap: 65px;
    transition: all ease-in-out 0.5s;
    transform: translateX(975px);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 2550px;
    height: 430px;
    /* background-color: red;  */
}

.divCards {
    width: 650px;
    height: 100%;
    /* background-color: yellow; */
    border-radius: 5px;
}

.divCircle {
    display: flex;
    gap: 15px;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #5846f9;
    cursor: pointer;
    transition: all ease-in-out .1s;
}

.activeCircle {
    background-color: #5846f9;
}

.card {
    /* background-color: #e90e6f; */
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    height: 85%;
    font-family: 'Poppins', sans-serif;
}

.contentCard {
    width: 100%;
    height: 95%;
    background-color: white;
    font-style: italic;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px
}

.pCard {
    width: 94%;
    height: 100%;
    margin-left: 20px;
}

.titleCard {
    /* background-color: violet; */
    font-size: 19px;
    color: #2d4964;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    margin-left: 35px;
    margin-top: 0px;
}

.paraCard {
    /* background-color: orange; */
    color: #9e9e9f;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-left: 35px;
}

.fa-quote-left {
    font-size: 27px;
    color: #b1a9fc;
    margin-right: 10px;
}

.fa-quote-right {
    font-size: 27px;
    color: #b1a9fc;
    margin-left: 10px;
}

.cardAvatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 170px;
    left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


.fa-user-ninja {
    color: #5a6d80;
    font-size: 45px;
}
.fa-user-astronaut {
    color: #5a6d80;
    font-size: 45px;
}


/* section 6 - current tech */

.section-tech {
    height: 650px;
    width: 100%;
    background-color: white;
}

.techTitle {
    color: #444444;
    font-size: 33px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 90px;
    margin-left: 80px;
}

.sec6Div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 50px;
}

.titles {
    display: flex;
    gap: 20px;
}

.titleTech {
    font-size: 20px;
    color: #474747;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-bottom: 3px solid #b7b7c0;
    padding-bottom: 7px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}

.titleTechDark {
    border-bottom: 3px solid #474747;
}

.menuTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.menu {
    color: #83838f;
    font-size: 17px;
    font-weight: lighter;
}

.innerText {
    color: #444444;
    font-size: 40px;
    font-weight: 600;
}

.imagesDiv {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.divImg {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    gap: 15px;
    position: relative;
    opacity: 1;
}

.divImgHidden {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    gap: 15px;
    position: absolute;
    opacity: 0;
}
.divImgHiddenBis {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    gap: 15px;
    position: absolute;
    opacity: 0;
}

.divImg img {
    width: 100%;
    height: 200px;
}

.titleImg {
    color: #4a4a4a;
    font-size: 20px;
    font-weight: 600;
}

.paraImg {
    color: #90909e;
    font-size: 15px;
}

.texteImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* section 7 - pricing */

.section-pricing {
    height: 950px;
    width: 100%;
    background-color: #f9f8ff;
}

.sec7Div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec7Div2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-left: 75px;
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentToggle {
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textToggle {
    background-color: #f8f8f8;
    width: 80px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cdcdcd;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.textToggleBlue {
    color: #887afb;
} 

.blue {
    width: 70px;
    height: 40px;
    border-radius: 40px;
    background-color: #8576fb;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.rond {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: all ease-in-out .3s;
}

.rondRight {
    transform: translateX(6px);
}

.rondLeft {
    transform: translateX(36px);
}

.cardsPrice {
    width: 95%;
    height: 470px;
    /* background-color: red; */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    display: flex;
    justify-content: space-between;
}

.cardPrice {
    position: relative;
    width: 320px;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.free {
    width: 100%;
    height: 15%;
    color: #2d4964;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    background-color: #f8f8f8;
}

.business {
    background-color: #5846f9;
    color: white;
}

.contentCard {
    width: 100%;
    height: 75%;
    border-radius: 0px;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.currency{
    position: absolute;
    top: 5px;
    left: -17px;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
}

.digit {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
}

.numberPrice {
    position: relative;
    color: #5c4bf9;
    height: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.priceMonth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* height: 20%; */
    margin-top: 10px;
}

.month {
    color: #c9c9c9;
    font-style: normal;
}

.listeCard {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-style: normal;
    font-size: 15px;
}

.barré {
    color: #d0d0d0;
    text-decoration: line-through;
}

.divBuy {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.buy {
    width: 160px;
    height: 50px;
    font-weight: 600;
    background: linear-gradient(45deg, rgb(85, 0, 255) 50%, rgb(128, 0, 255));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.buyLinear {
    background: linear-gradient(0deg, rgb(128, 0, 255) 50%, rgb(85, 0, 255))
}

/* ruban */

.ribbon {
    font-size: 15px;
    color: #fff;
}
.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1.8;
    padding-inline: 1lh;
    clip-path: polygon(
      100% 100%,0 100%,999px calc(100% - 999px),calc(100% - 999px) calc(100% - 999px));
    transform: translate(calc((1 - cos(45deg))*100%), -100%) rotate(45deg);
    transform-origin: 0% 100%;
    background-color: #5846f9;
}


/* section 8 - F.A.Q */

.section-FAQ {
    height: 1100px;
    width: 100%;
    background: linear-gradient(45deg, rgb(85, 0, 255) 50%, rgb(128, 0, 255));
}

.sec8Div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30%;
}

.servTitle8 {
    color: white;
    font-size: 33px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
}

.ligneTitle8 {
    height: 5px;
    width: 50px;
    background-color: #c3abf5;
}

.sec8Para {
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 90%;
    color: white;
}

.sec8Div2{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    /* background-color: green; */
    gap: 25px;
    font-family: 'Poppins', sans-serif;
}

.divFAQ {
    width: 80%;
    height: 90px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px;
    transition: all ease-in-out .4s;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divFAQHeight {
    padding-top: 30px;
    padding-bottom: 30px;
}

.divFAQ1half {
    display: flex;
    justify-content: space-between;
}

.titleFAQ {
    color: #314c67;
    font-size: 17px;
    font-weight: 600;
}

.titleFAQActive {
    color: #5b49f9;
}
.titleFAQActiveBis {
    color: #9f83fd;
}

.paraFAQ {
    color: black;
    display: none;
    opacity: 0;
    transition: all ease-in-out .5s;
    margin-left: 20px;
    width: 90%;
    margin-left: 30px;
}

.paraFAQDisplay {
    opacity: 1;
    display: block;
}

.quesTitle {
    display: flex;
    gap: 20px;
    margin-left: 25px;
}

.divQuestion {
    width: 20px;
    height: 20px;
    border: 3px solid #8576fb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-question {
    color: #8576fb;
    font-size: 18px;
}

.divChevron {
    margin-right: 40px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.divChevronRotate {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}


/* section 9 - contact */

.section-contact {
    height: 1000px;
    width: 100%;
    background-color: #f9f8fe;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec9Div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30%;
    margin-top: 40px;
}

.servTitle9 {
    color: black;
    font-size: 33px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
}

.ligneTitle9 {
    height: 5px;
    width: 50px;
    background-color: #5a48f9;
}

.sec9Para {
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 90%;
    color: black;
}

.sec9Div2 {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    gap: 25px;
    /* background-color: red; */
}

.sec9div21half {
    width: 50%;
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: rebeccapurple; */
}

.addressDiv {
    width: 100%;
    height: 30%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.map {
    width: 100%;
    height: 70%;
}

.ePhone {
    display: flex;
    width: 100%;
    height: 30%;
    gap: 25px;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 50%;
    gap: 10px;
}

.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 50%;
    gap: 10px;
}


.titleContact {
    color: #2d4964;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.iconContact {
    color: #5846f9;
    font-size: 30px;
}

.paraContact {
    color: #535353;
    font-family: 'Poppins', sans-serif;
}

.divForm {
    width: 100%;
    height: 65%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.form {
    width: 85%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.divInputHalf {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.inputHalf {
    width: 50%;
}
.inputHalf input {
    width: 100%;
    height: 40px;
    border: 1px solid #eef0f2;
    border-radius: 5px;
}
.inputHalf input::placeholder {
    color: #636769;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.subject {
    width: 100%;
}
.subject input {
    width: 100%;
    height: 40px;
    border: 1px solid #eef0f2;
    border-radius: 5px;
}
.subject input::placeholder {
    color: #636769;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
}


.textarea {
    width: 100%;
    border: 1px solid #eef0f2;
    border-radius: 5px;
}
.textarea::placeholder {
    color: #636769;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
}

.divMessage {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 30%;
}

.messageContact {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #5846f9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

/* footer */

footer {
    width: 100%;
    height: 500px;
    background: url(../assets/img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divCachéFooter {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: linear-gradient(135deg, rgb(85, 0, 255) 50%, rgb(128, 0, 255));
    opacity: 0.9;
}

.footerDiv1 {
    width: 95%;
    height: 80%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #d8cffb;
}

.infoContact {
    width: 20%;
    height: 80%;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 35px;
    color: white;
    font-weight: lighter;
    font-size: 17px;
}

.bigTitle {
    font-size: 30px;
}

.bold {
    font-weight: bold;
}

.ml {
    margin-left: 10px;
}

.links {
    width: 15%;
    height: 80%;
    /* background-color: rebeccapurple; */
    color: white;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}
.themes {
    width: 15%;
    height: 80%;
    /* background-color: rebeccapurple; */
    color: white;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}
.inputFooter {
    width: 40%;
    height: 80%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
}

.news {
    color: white;
}

.footerTexte {
    width: 90%;
    color: white;
}
.inputFooter input {
    width: 98%;
    height: 50px;
    border-radius: 5px;
    font-size: 22px;
    border: none;
}

.divInputFooter {
    width: 100%;
    position: relative;
}

.subscribe {
    background-color: #9753e0;
    border-radius: 0px 5px 5px 0px;
    height: 55px;
    width: 25%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 393px;
    cursor: pointer;
}

.footerDiv2 {
    width: 95%;
    height: 20%;
    /* background-color: green; */
    display: flex;
    gap: 10px;
}

.iconFooter {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6754f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.footerBrand {
    color: white;
    font-size: 18px;
}




/* media queries */


@media screen and (min-width: 320px) and (max-width: 1023px) {

    /* section 1 */

    .section-hero {
        flex-direction: column;
        width: 100%;
        /* height: 900px; */
    }
    
    .hero {
        width: 100%;
        justify-content: start;
        align-items: start;
        height: 300px;
        flex-wrap: wrap;
    }

    .textHero {
        width: 90%;
        height: 20%;
        justify-content: center;
        align-items: center;
        /* background-color: green; */
    }

    .textDigital {
        font-size: 15px;
    }

    .hero-title {
        font-size: 15px;
        /* width: 30%; */
        margin: 0px;
        /* background-color: yellow; */
        width: 90px;
    }

    .nav {
        width: 90%;
        justify-content: center;
        align-items: center;
        gap: 5px;
        height: 100px;
        margin: 0px;
    }

    .menu-nav {
        flex-direction: row;
        width: 90%;
        
    }

    .textGray {
        font-size: 7px;
    }

    .menu {
        flex-direction: row;
        font-size: 10px;
        /* width: 60%; */
        gap: 2px;
        /* background-color: red; */
        width: 90%;
    }

    .started {
        width: 40px;
        padding: 0;
        font-size: 10px;
        /* background-color: green; */
    }

    .textStarted {
        width: 130px;
        padding: 0;
    }

    .divImgHero {
        width: 80%;
        height: 50%;
        /* background-color: orange; */
        justify-content: center;
        align-items: center;
    }

    .imgHero {
        width: 100%;
    }


    /* section 2 */

    .section-readMore {
        width: 100%;
        height: 1500px;
        flex-direction: column;
    }

    .Voluptatem {
        flex-direction: column;
        /* height: 70%; */
        gap: 100px;
    }

    .sec2Voluptatem {
        width: 90%;
    }

    .sec2Img {
        width: 90%;
    }

    .numbers {
        flex-direction: column;
    }


    /* section 3 */

    .section-services {
        width: 100%;
        height: 2800px;
    }

    /* section 4 */

    .section-features {
        width: 100%;
        height: 2800px;
    }

    .sec4Div2 {
        width: 90%;
        flex-direction: column;
    }
    .sec4Liste {
        width: 90%;
    }

    .divListe {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .divIcon {
        margin-left: 0px;
    }

    .divSVG {
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .svg {
        width: 100%;
    }

    /* section 5 */

    .section-testimonials {
        width: 90%;
        /* height: 2000px; */
    }

    .container {
        width: 90%;
        height: 700px;
    }

    .carousel {
        width: 90%;
        height: 700px;
    }

    .divCards {
        width: 100%;
        height: 700px;
        gap: 100px;
    }

    .cardAvatar {
        top: 425px;
    }

    /* section 6 */

    .section-tech {
        width: 90%;
        margin-top: 300px;
        height: 1500px;
    }

    .imagesDiv {
        width: 90%;
        flex-direction: column;
    }

    /* section 7 */

    .section-pricing {
        width: 100%;
        height: 2000px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sec7Div2 {
        width: 90%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 400px;
        margin: 0px;
    }

    .cardsPrice {
        width: 90%;
        height: 700px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .cardPrice {
        width: 90%;
        height: 700px;
    }

    /* section 8 */

    .divFAQ {
        height: 300px;
    }

    .quesTitle {
        margin: 0px;
        font-size: 10px;
    }

    .divChevron {
        margin: 0px;
    }

    /* section 9 */

    .sec9Div1 {
        margin-bottom: 150px;
    }

    .sec9Div2 {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* gap: 200px; */
    }

    .sec9div21half {
        width: 90%;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .ePhone {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* footer  */

    .footer {
        width: 100%;
        height: 2400px;
        margin-top: 200px;
        gap: 100px;
    }

    .footerDiv1 {
        width: 90%;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 150px;
    }

    .inputFooter {
        width: 100%;
    }

    .divInputFooter {
        /* display: none; */
        width: 60%;
    }

    .subscribe {
        width: 20%;
    }

    .footerDiv2 {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-arrow {
        display: none;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
        /* section 3 */

        .section-services {
            width: 100%;
            height: 1500px;
        }
    
        /* section 4 */
    
        .section-features {
            width: 100%;
            height: 2200px;
        }
    
        .sec4Div2 {
            width: 90%;
            flex-direction: column;
        }
        .sec4Liste {
            width: 90%;
        }
    
        .divListe {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .divIcon {
            margin-left: 0px;
        }
    
        .divSVG {
            width: 70%;
            justify-content: center;
            align-items: center;
        }
    
        .svg {
            width: 100%;
        }

        /* section 5 */

        .section-testimonials {
            width: 100%;
        }

        .sec5Div2 {
            width: 90%;
        }

        .container {
            width: 90%;
        }

        .carousel {
            width: 90%;
        }
}